/* =====================================================
   CONTACT PAGE
===================================================== */

.contact-section {
  padding-top: 140px;   /* same as hero spacing */
  max-width: 800px;
  margin: auto;
  text-align: center;
}

/* HEADER */

.contact-header h1 {
  font-size: 46px;
  color: #38bdf8;
}

.contact-header p {
  color: #94a3b8;
  margin-top: 10px;
  line-height: 1.6;
}


/* =====================================================
   SOCIAL ICONS
===================================================== */

.contact-socials {
  display: flex;
  justify-content: center;
  gap: 22px;
  margin: 35px 0;
}

.contact-socials a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(255,255,255,0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #e5e7eb;
  transition: 0.3s;
}

.contact-socials a:hover {
  transform: translateY(-5px);
  box-shadow:
      0 0 20px rgba(56,189,248,0.6),
      0 0 40px rgba(56,189,248,0.3);
}


/* =====================================================
   CONTACT FORM
===================================================== */

.contact-form {
  padding: 30px;
  border-radius: 18px;
  margin-top: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: none;
  background: rgba(255,255,255,0.08);
  color: white;
  font-size: 14px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid #38bdf8;
}

.contact-form button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #38bdf8;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  box-shadow:
      0 0 20px rgba(56,189,248,0.6),
      0 0 40px rgba(56,189,248,0.25);
}